<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
    <div class="max-w-3xl mx-auto mt-6">
        <nav>
            <a href="{{ route('home') }}">Home</a>
            <a href="{{ route('movies.show', {slug: 'my-movie'})}}">Movies</a>
            <a href="{{ route('movies.show', {slug: 'another-movie'})}}">Another Movies</a>
        </nav>
        {{{ movie }}}
    </div>
</body>

</html>